.modal {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
    display: none;
    padding: 0 19px;
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal.active {
    display: flex;
}

.modal__label {
    display: block;
    position: relative;
}

.modal__heading {
    width: 330px;
    color: black;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    overflow: hidden;
    margin: 0 0 54px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Inter", Arial, sans-serif;
}

.modal__opened {
    opacity: 1;
    display: flex;
    visibility: visible;
}

.modal__container {
    margin: auto;
    padding: 36px;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.modal__container-preview {
    margin: auto;
    position: relative;
    background-color: transparent;
}

.modal__preview-img {
    max-height: 75vh;
    max-width: 75vw;
}

.modal__preview-title {
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modal__close {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: calc(100% + 5px);
    bottom: calc(100% + 5px);
    background-color: transparent;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-image: url('./images/close__icon.svg');
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__input {
    width: 100%;
    border: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding: 0 0 13px 0;
    margin-bottom: 30px;
    line-height: 16.94px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.modal__error {
    top: 100%;
    color: red;
    font-size: 12px;
    line-height: 14.52px;
    position: absolute;
}

.modal__button {
    border: none;
    width: 358px;
    color: white;
    height: 50.15px;
    cursor: pointer;
    border-radius: 2px;
    background-color: black;
}

.modal__button:hover {
    opacity: 0.6;
}

.modal__button:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
}

@media screen and (max-width: 775px) {
    .modal {
        box-sizing: border-box;
        justify-content: center;
    }

    .modal__heading {
        font-size: 18px;
        margin-bottom: 75px;
    }

    .modal__container {
        width: 282px;
        height: 322px;
        padding: 22px;
    }

    .modal__button {
        width: 100%;
        font-size: 14px;
    }

    .modal__close {
        height: 26px;
        width: 26px;
        margin-bottom: 13px;
        left: calc(100% - 35px);
        bottom: calc(100% + 5px);
    }
}