.card {
    display: flex;
    max-width: 282px;
    overflow: hidden;
    list-style: none;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
  }
    
  .card__title {
    margin: 0px;
    font-size: 24px;
    max-width: 220px;
    font-weight: 900;
    overflow: hidden;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  
  .card__like-button {
    width: 21px;
    height: 18px;
    border: none;
    position: right;
    background-repeat: no-repeat;
    background-size: 21px 18px;
    transition: opacity 0.2s ease-in-out;
    background: transparent url(../images/like-button.svg) center no-repeat;
  }
  
  .card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .card__like-button_active {
    background-image: url(../images/like_active.svg);
  }

  .card__delete-button {
    position: absolute;
    background: transparent url(../images/delete.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border-style: none;
    top: 18px;
    left: 250px;
    transition: all 0.5s ease-in-out;
}

.card__delete-button:hover {
    cursor:pointer;
    opacity: 0.5;
}

.card_image:hover {
  cursor: pointer;
}

.card__content {
    display: flex;
    color: #000;  
    max-width: 282px;
    padding: 25px 20px 25px 20px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
}