.modal {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
    display: flex;
    padding: 0 19px;
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal__heading {
    width: 330px;
    color: black;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    overflow: hidden;
    margin: 0 0 54px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Inter", Arial, sans-serif;
}

.modal_opened {
    opacity: 1;
    display: flex;
    visibility: visible;
}

.modal__container {
    margin: auto;
    padding: 36px;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.modal__container-preview {
    margin: auto;
    position: relative;
    background-color: transparent;
}

.modal__preview-img {
    max-height: 75vh;
    max-width: 75vw;
}

.modal__preview-title {
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal__close {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: calc(100% + 5px);
    bottom: calc(100% + 5px);
    background-color: transparent;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-image: url('../images/close__icon.svg');
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__input {
    width: 100%;
    border: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding: 0 0 13px 0;
    margin-bottom: 30px;
    line-height: 16.94px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

