.page {
    color: white;
    background-color: black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page__section {
    width: 100%;
    margin: 0 auto;
    max-width: 880px;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
}