.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 47px;
  }
  
  .profile__info {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 375px) auto;
    grid-template-areas: "title button" "description description";
  }
  
  .profile__name {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    grid-area: title;
    line-height: 1.14;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }

  .profile__image {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 24px;
    background-position: center;
  }

  .profile__description {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding-top: 7px;
    max-width: 415px;
    overflow: hidden;
    white-space: nowrap;
    grid-area: description;
    text-overflow: ellipsis;
  }

  .profile__add-button {
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: 2px solid #ffffff;
    transition: all 0.5s ease-in-out;
    background: transparent url(../images/Add-button.svg);
  }

  .profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .profile__edit-button {
    height: 24px;
    width: 24px;
    grid-area: button;
    margin-right: 15px;
    margin: 15px 0px 9px 18px;
    transition: all 0.5s ease-in-out;
    background: transparent url(../images/Edit-Button.svg);
  }

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile {
    padding-top: 0;
    align-items: center;
    margin-bottom: 36px;
    flex-direction: column;
  }

  .profile__info {
    margin-left: 0;
    max-width: 90%;
    margin-top: 30px;
    text-align: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__image {
    margin-right: 0px;
  }


  .profile__description {
    font-size: 14px;
    margin: 0 0 36px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
    border-radius: 2px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .profile__edit-button {
    top: auto;
    left: auto;
    height: 18px;
    width: 18px;
    padding: 0;
    margin-top: 10px;
    margin-right: auto;
    box-sizing: border-box;
  }
}